
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #197086;
    color: #202020;

}


header {
    background-color: #141d25; 
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

header .nome-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header .links-contato a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
}

header .links-contato a:hover {
    text-decoration: underline;
    color: #3498db;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.projeto {
    background-color: rgb(228, 246, 253);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo-projeto {
    margin-bottom: 20px;
    color: #2c3e50;
    
  
}

.conteudo-projeto {
    display: flex; 
    gap: 30px; 
    align-items: flex-start;
}

.area-imagem img {
    max-width: 300px; 
    width: 100%; 
    height: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.area-texto {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.area-texto p {
    line-height: 1.6;
    margin-bottom: 20px;
}


.btn-github {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222f42;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start; 
    transition: background 0.3s;
}

.btn-github:hover {
    background-color: #465a75;
}


hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    display: none;
}
